<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- adds css stylesheet -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<!-- next 3 adds Russo One font-->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet" />
		<!-- adds special icons like close, menu, social media logos-->
		<script src="https://kit.fontawesome.com/c41b78ee3c.js" crossorigin="anonymous"></script>
		<!--<title>Document</title>-->
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
