{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
	<h1 class="title">Todo Manager</h1>
	{% if todos|length < 1 %}
	<h4 class="empty">There are no items to-do, add one below</h4>
	{% else %}
	<table class="todos">
		<tr>
			<th>To-Do</th>
			<th>Added</th>
			<th>Actions</th>
		</tr>
		{% for todo in todos %}
		<tr>
			<td>{{ todo.content }}</td>
			<td>{{ todo.date_created.date() }}</td>
			<td>
				<a href="/delete/{{ todo.id }}">Delete</a>
				<br />
				<a href="/update/{{ todo.id }}">Update</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	<form action="/" method="post" class="form">
		<input type="text" id="content" name="content" required />
		<input type="submit" value="Add To-Do" class="btn" />
	</form>
</div>
{% endblock %}
